@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgb(80, 81, 129);
}

.headerBackground {
  z-index: -10;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.out-top {
  animation: rotate 20s linear infinite;
  transform-origin: 13px 35px;
}

.in-top {
  animation: rotate 10s linear infinite;
  transform-origin: 20px 25px;
}

.out-bottom {
  animation: rotate 25s linear infinite;
  transform-origin: 120px 93px;
}

.in-bottom {
  animation: rotate 15s linear infinite;
  transform-origin: 84px 93px;
}

#profilePicture { 
  /* height: 100%; */
}