.navBar {
  display: flex;
  width: 100%;
  justify-content: right;
  border-bottom: 1px solid black;
  height: auto;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.navBar > * {
  text-decoration: none;
  color: rgb(255, 255, 255);
  list-style-type: none;
  font-weight: bold;
  font-size: 35px;
  padding: 5px 0;
  margin-right: 3vmin;
}

.navBar > *:hover {
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

/* desktop view */
@media only screen and (min-width: 961px) {
}

