.navBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: auto;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.navBar > * {
  text-decoration: none;
  color: rgb(255, 255, 255);
  list-style-type: none;
  font-weight: bold;
  font-size: 35px;
  padding: 5px 0;
}

.homeNav {
  margin-left: auto;
}

.projectsNav {
  margin: 0 3vmin;
}
.contactNav {
  margin-right: 3vmin;
}
.skillsNav {
  margin-right: 3vmin;
}
.homeNav:hover,
.projectsNav:hover,
.skillsNav:hover {
  background-color: rgba(255, 255, 255, 0.209);
}

/* desktop view */
@media only screen and (min-width: 961px) {
}

/* slide-in nav */
/* .overlay {
  height: 100%;
  width: 50vmin;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 28px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
} */
